

table {
  table-layout: auto;
  width: 90%;
  border-collapse: collapse;
  border: 3px solid purple;
  background-color: white;
  margin: auto;
}
img {
  padding: 20px;
  margin: 20px;
  width: 60px;
  height: 60px;
}
th, td {
  padding: 40px;
  text-align: left;
}
th {
  background-color: gray;
  color: white;
}
html{
  background-color: blue;
  margin: 20px;
  text-align: center;
}
p {
  padding: auto;
  text-align: center;
}
h1 {
  padding: auto;
  text-align: center;
}
